@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

#hero-text {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: "Newsreader", serif;
  font-weight: 350;
  font-size: 64px;
}

i {
  margin-left: 8px;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gearup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 227px;
  height: 64px;
  background-image: linear-gradient(to right, black, #ff2800);
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Abhaya Libre", serif;
  font-size: 30px;
  text-decoration: none;
}

#drivers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 200px;
}

#leclerc-img,
#hamilton-img {
  width: 300px;
  height: 465px;
}

.driver-text {
  display: flex;
  justify-content: center;
  font-family: "Newsreader", serif;
  font-style: italic;
  font-size: 28px;
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 25px;
}

.div-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
