@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Music&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

#shop-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Music", serif;
}

#shop-logo-section {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-top: 10px;
}

#logo2 {
  width: 55px;
  height: 55px;
}

#hplogo {
  width: 50px;
  height: 50px;
}

#logo-separator {
  width: 1px;
  height: 55px;
  background-color: black;
  margin-right: 10px;
  transform: rotate(30deg);
}

.shop-category {
  font-weight: 100;
  font-size: 18px;
  margin: 20px 30px;
}

#category-name {
  font-size: 32px;
  font-weight: 100;
}

#filter-and-num-of-itms {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1350px;
}

#filter-div {
  display: flex;
  align-items: center;
}

#filter-and-sort,
.num-of-products {
  font-size: 20px;
}

.product-img {
  width: 200px;
  height: 267px;
}

.product-img:hover {
  transform: scale(1.2);
}

.product-description {
  max-width: 300px;
  font-size: 20px;
  height: 70px;
  overflow: hidden;
}

.product-price {
  font-size: 20px;
}

#price-and-counter {
  max-width: 300px;
  height: 10px;
}

#product-list {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  gap: 100px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

#price-and-counter {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

#select-and-basket {
  margin-bottom: 5px;
}

.minus-icon {
  margin-right: 5px;
}

.product-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
}
